<div class="search-box" style="margin-top:5%;">
  <%= link_to "Angebot", {controller: "apartments", action: "new_offer"}, :class => "btn btn-outlined btn-theme btn-lg", :style => "margin: 5%;"%>

  <%= link_to "Gesuch", {controller: "apartments", action: "new_request"}, :class => "btn btn-outlined btn-theme btn-lg", :style => "margin: 5%;"%>
</div>
