<h1>Eintrag ändern</h1>

  <% if @offer_blackboard.request? %>
    <%= render 'form_request' %>
  <% else %>
    <%= render 'form_offer' %>
  <% end %>

  <%= link_to 'Show', @offer_blackboard %> |
  <%= link_to 'Back', offer_blackboards_path %>
