
<div class="col-sm-12 footer">
	<div class="row">
		<div class="col-sm-4">
			<h4>Irgendein Unsinn</h4>
		</div>
		<div class="col-sm-4">
			<h4>Sitemap</h4>
			<%= render 'start/navigation_links' %>
		</div>
		<div class="col-sm-4">
			<h4>Contact</h4>
			<li>
				<a href="#">Adresse</a> 
			</li>
			<li>
				<a href="static_pages/impressum">Impressum</a>
			</li>
		</div>
	</div>
</div>
