
<div class="col-sm-12 footer">
	<div class="row">
		<div class="col-xs-2">
			</div>
		<div class="col-sm-2 footer-list">
			<h4>Sitemap</h4>
			<%= render 'start/navigation_links' %>
		</div>
		<div class="col-xs-4">
			</div>
		<div class="col-sm-2 footer-list">
			<h4>Kontakt</h4>
			<li>
				<a href="#">Adresse</a> 
			</li>
			<li>
              <%= link_to("Impressum", "/static_pages/impressum") %>
			</li>
		</div>
		<div class="col-xs-2">
			</div>
	</div>
</div>
