<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Suche <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li>
			<a href="#">Wohnungsmarkt</a>
		</li>
		<li>
			<a href="#">Schwarzes Brett</a>
		</li>
	</ul>
</li>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Biete <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li>
			<a href="#">Wohnungsmarkt</a>
		</li>
		<li>
			<a href="#">Schwarzes Brett</a>
		</li>
	</ul>
</li>

<li>
	<a href="#">About</a>
</li>

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Anmelden <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<li>
			<a href="#">Wohnungsmarkt</a>
		</li>
		<li>
			<a href="#">Schwarzes Brett</a>
		</li>
	</ul>
</li>
