<div class="search-box">
	<div style="padding: 2%;">

		<div class="btn-group" style="padding-bottom: 2%;">
			<button type="button" class="btn active options" id="option_wohnungsmarkt">
				Wohnungsmarkt
			</button>
			<button type="button" class="btn options" id="option_sbrett">
				Schwarzes Brett
			</button>
		</div>

		<div id="search_form_apartment">
			<%= render "search_form_apartment" %>
		</div>

		<div id="search_form_blackboard">
			<%= render "search_form_blackboard" %>
		</div>

	</div>
</div>
