// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar.no-bg{
  background: none;
}


.fieldset {
  border: none;
  text-align: center;
  background: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -227.5px;
  padding: 0;
  width: 455px;
}


html,
body {
  background: no-repeat center fixed;
  background-image: image-url("rav.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

}

.footer{
    background: #000000;
    position: fixed !important;
    bottom: 0px;
    text-align: left;
}

.search-box{
  background-color:rgba(255,255,255,0.8);
  margin:0 auto;
  width: 720px;
}
.options{
  background: transparent;
  width: 50%;
}
.options.active{
  background-color: #E2001A;
}

.btn-group{
  width: 90%;
}
